---
import avatar from "../images/social/avatar-jessica.jpeg";
---

<style>
  * {
    font-family: "Inter", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    background-color: hsl(0, 0%, 8%);
    color: hsl(0, 0%, 100%);

    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: auto;

    font-size: 14px;
    font-weight: 700;
  }

  .card {
    background-color: hsl(0, 0%, 12%);

    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */

    width: 400px;
    height: 600px;
    padding: 1.25rem;

    border-radius: 0.75rem;
  }
  .card img {
    border-radius: 9999px;
    width: 100px;
    margin: 1.75rem;
  }

  .info {
    text-align: center;
    margin-bottom: 1.75rem;
    align-items: center;
  }

  h3 {
    margin-top: 0.25rem;
    color: hsl(75, 94%, 57%);
  }

  p {
    margin: 0.5rem;
  }

  section {
    margin: 0 auto;
    width: 100%;
  }

  button {
    background-color: hsl(0, 0%, 20%);
    color: hsl(0, 0%, 100%);
    font-weight: 700;

    width: 100%;
    padding: 0.75rem;
    margin: 0.5rem;

    border: none;
    border-radius: 0.5rem;
  }
  button:hover {
    background-color: hsl(75, 94%, 57%);
    color: hsl(0, 0%, 12%);
  }

  a {
    align-self: flex-start;
    left: 3rem;
    top: 3rem;
    position: absolute;
    text-decoration: none;
    padding: 0.5rem;
    border-radius: 1rem;
    color: hsl(0, 0%, 100%);
  }

  a:link {
    color: hsl(0, 0%, 100%);
  }

  svg {
    line-height: 1;
    height: 1em;
    width: 1em;
  }
</style>

<head>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter" />
</head>
<main>
  <a href="/">
    <svg
      width="24"
      height="24"
      viewBox="0 0 24 24"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        fill-rule="evenodd"
        clip-rule="evenodd"
        d="M6 22.8787C4.34315 22.8787 3 21.5355 3 19.8787V9.87866C3 9.84477 3.00169 9.81126 3.00498 9.77823H3C3 9.20227 3.2288 8.64989 3.63607 8.24262L9.87868 2.00002C11.0502 0.828445 12.9497 0.828445 14.1213 2.00002L20.3639 8.24264C20.7712 8.6499 21 9.20227 21 9.77823H20.995C20.9983 9.81126 21 9.84477 21 9.87866V19.8787C21 21.5355 19.6569 22.8787 18 22.8787H6ZM12.7071 3.41423L19 9.70713V19.8787C19 20.4309 18.5523 20.8787 18 20.8787H15V15.8787C15 14.2218 13.6569 12.8787 12 12.8787C10.3431 12.8787 9 14.2218 9 15.8787V20.8787H6C5.44772 20.8787 5 20.4309 5 19.8787V9.7072L11.2929 3.41423C11.6834 3.02371 12.3166 3.02371 12.7071 3.41423Z"
        fill="currentColor"></path>
    </svg>
    Home
  </a>
  <div class="card">
    <img src={avatar.src} alt="" />
    <div class="info">
      <h1>Jessica Randall</h1>
      <h3>London, United Kingdom</h3>
    </div>

    <p>"Front-end developer and avid reader"</p>
    <section>
      <button>Github</button>
      <button>Frontend Mentor</button>
      <button>LinkedIn</button>
      <button>Twitter</button>
      <button>Instagram</button>
    </section>
  </div>
</main>
